.footer__column_content_links{
    display:flex;
    flex-direction: row;
}
@media screen and (max-width: 767px){
    .footer__column_content_links{
        display:flex;
        flex-direction: column;        
    }
}
    