@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);
.cover{ 
    margin-left:48px;
    margin-right:48px;
    margin-top:92px; 
    box-sizing: border-box; 
    display:flex;   
} 

@media screen and (max-width: 1025px){
    .cover{
        margin-left:0px;
        margin-right:0px;
    } 
}
@media screen and (max-width: 800px){
    .cover{
        margin-top:88px;
    }
}
@media screen and (max-width:600px){
    .cover{
        margin-top:64px;
    } 
}
