.header__lang-link_lang_ru {
    margin-top: 0px;
    margin-right:18px;
    margin-left:auto;
    color: #FFFFFF;
    text-decoration: underline;
    }
    .header__lang-link_lang_ru:hover{
        opacity:50%;
    }