.cover__background {
    text-decoration: none;
    color: #fff;
    background-image: url(../../../images/baikal-na-sobakah.png);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: calc(245*100%/1184) 0;
  }
  
  .cover__background::before {
    content: '';
    display: block;
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s linear;
  }  
  .cover:hover .cover__background::before {
    opacity: 0.8;
  }  
  @media screen and (max-width: 1025px){
    .cover__background{
      padding: calc(195*100%/1024) 0;
    } 
}
@media screen and (max-width: 800px){
    .cover__background{
      padding: calc(115*100%/768) 0;
    }
}
@media screen and (max-width:600px){
    .cover__background{
      padding: calc(33*100%/320) 0;
    } 
}
